.classpath-panel {
    float: left;
    padding-left: calc(var(--theia-ui-padding)*2);
    height: 100%;
    padding-top: 6px;
}

.classpath-panel-left {
    width: 30%;
}

.classpath-panel-right {
    width: 66%;
}

.classpath-modal {
    max-width: 650px;
    min-width: 400px;
}

.classpath-content {
    height: 420px;
}

.classpath-widget {
    height: 100%;
}

.classpath-button-right {
    float: right;
    width: 15%;
    padding-top: 50px;
    padding-right: 20px;
}

.classpath-tree-left {
    width: 80%;
    float: left;
    overflow: hidden;
}

.classpath-done-button {
    margin-top: 13px;
}
